<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Article</title>
</head>
<body>
<h1>Edit Article</h1>
<%= form_with model: @article, local: true do |f| %>
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <%= message %>
    <%end %>
  <% end %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <%= f.button %>
<%end %>

<%= link_to "Return to home", articles_path %>

</body>
</html>