<h1>Articles Listing page</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= article.user.username %></td>
      <td>
        <%= link_to "Show", article %>
        <% if logged_in? && current_user == article.user %>
          <%= link_to "Edit", edit_article_path(article) %>
  <!--      Very important! How to add delete method in rails 7 to link_to-->
          <%= link_to "Delete", article, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
        <%end %>
      </td>
    </tr>
  <% end %>
</table>
<% if logged_in? %>
<p>
  <%= link_to "Create New Article", new_article_path %>
</p>
<% end %>
