<%= "#{@user.username}'s profile" %>
<%= link_to "Edit Your Profile", edit_user_path(@user)%>
<%= link_to "Log Out", logout_path, data: {turbo_method: :delete}%>

<% @user.articles.each do |article| %>
  <div style = "margin: auto; padding: 2rem; text-align: center">
    <p><strong>Title:</strong> <%= article.title%></p>
    <p><strong>Description:</strong> <%= article.description %></p>
  </div>
<% end %>